<h2>Company Blog</h2>

<!-- Loop through all the available blog posts -->

<% @posts.each do |post| %>
	<article>
		<h3><%= link_to post.title, post %></h3>
		<div>
			<%= post.content %>
		</div>
	</article>
<% end %>